In [10]:
import random as rand

numbers = [rand.randint(1,25), rand.randint(1,25), rand.randint(1,25), rand.randint(1,25), rand.randint(1,25)]
print(numbers)

[19, 22, 8, 10, 7]

In [15]:
import random as rand

num1 = rand.randint(1,25)
num2 = rand.randint(1,25)
num3 = rand.randint(1,25)
num4 = rand.randint(1,25)
num5 = rand.randint(1,25)

numbers = [num1, num2, num3, num4, num5]

print(numbers)

[24, 22, 22, 10, 14]

In [16]:
grocery = [1, 2, 3]
others = [2,3,5]

grocery.extend(others)
print(grocery)

grocery.append(others)
print(grocery)

[1, 2, 3, 2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [17]:
grocery.pop()
print(grocery)

[1, 2, 3, 2, 3, 5]

In [18]:
grocery.append(others)
print(others)

[2, 3, 5]

TypeError: 'list' object cannot be interpreted as an integer

In [31]:
import random as rand

num1 = rand.randint(1,25)
num2 = rand.randint(1,25)
num3 = rand.randint(1,25)
num4 = rand.randint(1,25)
num5 = rand.randint(1,25)

numbers = [num1, num2, num3, num4, num5]
numbers2 = numbers.copy()
numbers.remove(max(numbers))

print(numbers2, id(numbers2))
print(numbers, id(numbers))

[22, 19, 1, 12, 20] 1543607730880
[19, 1, 12, 20] 1543589884864

In [35]:
tuples = tuple(numbers2)
print(tuples)

(22, 19, 1, 12, 20)

In [41]:
for x in range(0, 1000001:.,f, 100000):
    print(x)

SyntaxError: invalid syntax (<ipython-input-41-07d2632e16c5>, line 1)

In [43]:
counter = 1

while counter <= 5:
    if counter == 3:
        print("Whoa Nelly")
    else:
        print(counter)
    counter += 1

1
2
Whoa Nelly
4
5

In [50]:
invest = 10000
count = 1

while count <= 20:
    invest = invest * 1.05
    print(f"Your yearly total for year {count} is ${invest:,.2f}")
    count += 1

Your yearly total for year 1 is $10,500.00
Your yearly total for year 2 is $11,025.00
Your yearly total for year 3 is $11,576.25
Your yearly total for year 4 is $12,155.06
Your yearly total for year 5 is $12,762.82
Your yearly total for year 6 is $13,400.96
Your yearly total for year 7 is $14,071.00
Your yearly total for year 8 is $14,774.55
Your yearly total for year 9 is $15,513.28
Your yearly total for year 10 is $16,288.95
Your yearly total for year 11 is $17,103.39
Your yearly total for year 12 is $17,958.56
Your yearly total for year 13 is $18,856.49
Your yearly total for year 14 is $19,799.32
Your yearly total for year 15 is $20,789.28
Your yearly total for year 16 is $21,828.75
Your yearly total for year 17 is $22,920.18
Your yearly total for year 18 is $24,066.19
Your yearly total for year 19 is $25,269.50
Your yearly total for year 20 is $26,532.98