Exercise 1: Make an empty list and call it names

In [1]:
names = []
print(names)

[]

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [2]:
names = ['Hannah', 'Victor', 'Sam', 'James', 'Sarah']
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sored in reverse. Print out the list using a for-loop

In [3]:
names.sort(reverse = True)
x = 0
for x in range(1):
    print(names)
    x += 1

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [4]:
names.sort()
x=0
while x < 1:
    print(names)
    x += 1

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']

Exercise 5: Pull out the fourth item from names and print it out

In [5]:
names.pop(3)
print(names)

['Hannah', 'James', 'Sam', 'Victor']

Exercise 6: Pull out the first item from names and print it out

In [6]:
print(names[0])

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [7]:
fruit = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"

x = fruit.split(", ")
print(x)

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Exercise 8: Write a program to generate a right-triangle using asterisks(*) where the base of the triangle has 10 asterisks

In [8]:
num = 1
_ = 1

for _ in range(10):
    print("* "*num)
    num += 1
    _ += 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

Exercise 9: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [9]:
squares = []
for i in range(10):
    square = i ** 2
    squares.append(square)
    i += 1
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Exercise 10: Create a multiplication table from 1 to 10

In [10]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = "\t")
    print("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

Exercise 11: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [11]:
ask = 1
scores = []
while ask != "q":
    ask = input("Please enter test scores to compute average or type 'q' to quit ")
    if ask == "q":
        break
    else:
        ask = float(ask)
    scores.append(ask)
    add = sum(scores)
    length = len(scores)
    print(scores)
    print(f"Average: {add/length:.2f}")

print("Quit")

Please enter test scores to compute average or type 'q' to quit 15
[15.0]
Average: 15.00
Please enter test scores to compute average or type 'q' to quit 10
[15.0, 10.0]
Average: 12.50
Please enter test scores to compute average or type 'q' to quit 12
[15.0, 10.0, 12.0]
Average: 12.33
Please enter test scores to compute average or type 'q' to quit 100
[15.0, 10.0, 12.0, 100.0]
Average: 34.25
Please enter test scores to compute average or type 'q' to quit q
Quit

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [12]:
movies = ["The Princess Bride", "The Fifth Element", "Kill Bill Vol. 1", "Muppet Treasure Island"]  
menu = 6
def pmovie(movies):
    count = 0
    pos = 0
    length = len(movies) - 1
    
    for count in range(len(movies)):
        print(f"{len(movies) - length}: {movies[pos]}\n")
        count += 1
        pos+=1
        length -= 1
        
while menu != 4:
    menu = int(input("Hello and welcome to your movie storage device Menu: \nType '1' to list all movies \nType '2' to add a movie \nType '3' to delete a movie \nType '4' to exit program"))
    print("-"*20)
    if menu == 1:       
        pmovie(movies)
        continue
    elif menu == 2: 
        movie = input("Please type a movie to add: ")
        print(f"\nAdded {movie}")
        movies.append(movie)
        continue
    elif menu == 3:
        delete = int(input(f"Please choose a number between 1 and {len(movies)}. Example: Typing '1' will delete the first movie from the list "))
        print(f"Delete: {movies[delete-1]}\n")
        movies.pop(delete-1)
        continue
            
print("Quit")

Hello and welcome to your movie storage device Menu:
Type '1' to list all movies
Type '2' to add a movie
Type '3' to delete a movie
Type '4' to exit program1
--------------------
1: The Princess Bride
2: The Fifth Element
3: Kill Bill Vol. 1
4: Muppet Treasure Island
Hello and welcome to your movie storage device Menu:
Type '1' to list all movies
Type '2' to add a movie
Type '3' to delete a movie
Type '4' to exit program2
--------------------
Please type a movie to add: Top Gun
Added Top Gun
Hello and welcome to your movie storage device Menu:
Type '1' to list all movies
Type '2' to add a movie
Type '3' to delete a movie
Type '4' to exit program1
--------------------
1: The Princess Bride
2: The Fifth Element
3: Kill Bill Vol. 1
4: Muppet Treasure Island
5: Top Gun
Hello and welcome to your movie storage device Menu:
Type '1' to list all movies
Type '2' to add a movie
Type '3' to delete a movie
Type '4' to exit program3
--------------------
['The Princess Bride', 'The Fifth Element', 'Kill Bill Vol. 1', 'Muppet Treasure Island', 'Top Gun']
Please choose a number between 1 and 5. Example: Typing '1' will delete the first movie from the list 1
Delete: The Princess Bride
Hello and welcome to your movie storage device Menu:
Type '1' to list all movies
Type '2' to add a movie
Type '3' to delete a movie
Type '4' to exit program4
--------------------
Quit